table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}

.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}
.toggle-switch input {
  opacity: 0;
  height: 0;
  height: 0;
}
